/* setting */

*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.clearflix::after{
  content:"";
  display: table;
  clear: both;
}

/* general */

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  margin: 20px auto;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
}

.main-image {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 230px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* header */

header .top{
  margin-bottom: 10px;
}

header .top img{
  height: 50px;
  margin-bottom: 20px;
  padding-right: 15px;
  border-right: 1px solid rgb(229, 229, 229);
}

header li{
  display: inline-block;
  text-transform: uppercase;
  list-style: none;
  color: rgb(187, 187, 187);
  margin-right: 10px;
  text-align: left;
}

header li:hover{
  color: rgb(192, 78, 88);
}

.jumbotron{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.jumbotron .overlay{
  color: white;
  padding-top: 22%;
  padding-left: 5%;
  padding-right: 40%;
  }
  .text h1{
    font-size: 30px;
  }

/* main */

.main-container{
  margin-bottom: 35px;
}

.main-top{
  width: 100%;;
  height: 100px;
  padding-top: 10px ;
  margin-bottom: 20px;
}

.main-top h1{
  font-size: 40px;
}

.main-top p{
  color: rgb(200, 200, 200);
}

.col{
  float: left;
  margin: auto;
}

.col-left{
  width: 25%;
}

.col-center{
  width: 48%;
  margin: 0 1%;
}

.col-right{
  width: 25%;
}

.col-left .main-image{
  background-image: url(../img/img-1.jpg);
}

.col-center .main-image{
  background-image: url(../img/banner-2.jpg);
}

.col-right .main-image{
  background-image: url(../img/img-3.jpg);
}

.main-text h4{
  font-weight: normal;
  padding-bottom: 10px;
}

.main-text p{
  color:rgb(211, 211, 211);
}
 
/* footer */

.ultimo-blocco{
  text-align: center;
  font-size: 15px;
}

.ultimo-blocco span::after{
  content:" \2764";
  color: red;
  font-size: 20px;
}